{% extends "layout.html.j2" %}
{% block title -%}
    {{ title }}
{%- endblock %}
{% block style -%}
    <style>
        body {
            font-family: sans-serif;
            margin: 0;
            background-color: rgb(240, 240, 240);
        }

        nav {
            padding: 0.5em 1em;
            background-color: black;
        }

        .search_container {
            display: flex;
        }

        .search {
            font-size: 1em;
            margin: 0.5em;
            flex-grow: 1;
        }

        .pagination {
            margin: 0.5em;
            line-height: 1.5em;
        }

        .btn_pg {
            margin: 0.2em;
        }

        ul {
            margin: 0.7em 0.5em;
            padding: 0;
            display: flex;
        }

        li {
            list-style: none;
        }

        .thread_id {
            min-width: 6em;
        }

        .thread_username {
            margin-right: 1em;
        }

        .thread_username {
            margin-left: auto;
            margin-right: 0;
        }

        @media (max-width: 768px) {
            .thread_id {
                display: none;
            }
        }
    </style>
{% endblock %}
{% block script %}
    <script>
        const threads = {{ threads }}

        function filterData(query, threads) {
            return threads.filter(item => {
                return item.title.toLowerCase().includes(query.toLowerCase()) ||
                    item.username.toLowerCase().includes(query.toLowerCase());
            });
        }

        function paginateThreads(threads) {
            const paginated = [];
            for (let i = 0; i < threads.length; i += 100) {
                paginated.push(threads.slice(i, i + 100));
            }
            return paginated
        }

        function getPageThread(paginated, pageNumber) {
            const totalPages = paginated.length;
            if (pageNumber < 1 || pageNumber > totalPages) {
                return [];
            }
            return paginated[pageNumber - 1];
        }

        function getPageNumberFromURL() {
            const params = new URLSearchParams(window.location.search);
            const page = params.get('page');
            return page ? parseInt(page, 10) : 1;
        }

        function setPageNumberToURL(value) {
            const url = new URL(window.location);
            const params = new URLSearchParams(url.search);
            params.set('page', value);
            window.history.replaceState({}, '', `${url.pathname}?${params.toString()}`);
        }

        function getKeywordFromURL() {
            const params = new URLSearchParams(window.location.search);
            const keyword = params.get('keyword');
            return keyword ? keyword : '';
        }

        function setKeywordToURL(value) {
            const url = new URL(window.location);
            const params = new URLSearchParams(url.search);
            params.set('keyword', value);
            window.history.replaceState({}, '', `${url.pathname}?${params.toString()}`);
        }

        function populateList(data) {
            const threadList = document.getElementById('thread_list');

            threadList.innerHTML = '';

            data.forEach(item => {
                const itemDiv = document.createElement('div')
                const summaryUl = document.createElement('ul')
                const threadId = document.createElement('li')
                const threadTitle = document.createElement('li')
                const threadUsername = document.createElement('li')
                const titleLink = document.createElement('a');
                const downloadLink = document.createElement('a');

                threadId.classList.add('thread_id')
                threadTitle.classList.add('thread_title')
                threadUsername.classList.add('thread_username')

                {% if data_uri -%}
                    titleLink.href = item.threadId + '.html'
                    downloadLink.href = item.threadId + '.html'
                    downloadLink.download = item.threadId + '-' + item.title + '.html'
                    downloadLink.textContent = '(다운로드)'
                {%- else -%}
                    titleLink.href = item.threadId + '/index.html'
                {%- endif %}
                titleLink.textContent = item.title
                titleLink.target = '_blank'

                threadId.innerHTML = item.threadId
                threadTitle.appendChild(downloadLink)
                threadTitle.appendChild(document.createTextNode(' '))
                threadTitle.appendChild(titleLink)
                threadUsername.innerHTML = item.username

                summaryUl.appendChild(threadId)
                summaryUl.appendChild(threadTitle)
                summaryUl.appendChild(threadUsername)

                itemDiv.appendChild(summaryUl);

                threadList.appendChild(itemDiv)
            });
        }

        function generatePaginationLinks(paginated, page, keyword) {
            const paginationContainer = document.getElementById("pagination")

            const totalPages = paginated.length;
            let paginationHTML = '';

            if (page > 1) {
                paginationHTML += `<a class="btn_pg" href="?keyword=${keyword}&page=${page - 1}">이전</a> `;
            }

            for (let i = 1; i <= totalPages; i++) {
                if (i === page) {
                    paginationHTML += `<span class="btn_pg">${i}</span> `;
                } else {
                    paginationHTML += `<a class="btn_pg" href="?keyword=${keyword}&page=${i}">${i}</a> `;
                }
            }

            if (page < totalPages) {
                paginationHTML += `<a class="btn_pg" href="?keyword=${keyword}&page=${page + 1}">다음</a>`;
            }

            paginationContainer.innerHTML = paginationHTML
        }

        const search = document.getElementById('search');
        search.value = getKeywordFromURL()
        const paginated = paginateThreads(filterData(search.value, threads))

        populateList(getPageThread(paginated, getPageNumberFromURL(), getKeywordFromURL()))
        generatePaginationLinks(paginated, getPageNumberFromURL(), getKeywordFromURL())

        search.addEventListener('input', function () {
            setKeywordToURL(search.value)
            const paginated = paginateThreads(filterData(search.value, threads))
            setPageNumberToURL(1)
            populateList(getPageThread(paginated, getPageNumberFromURL(), getKeywordFromURL()))
            generatePaginationLinks(paginated, getPageNumberFromURL(), getKeywordFromURL())
        })
    </script>
{% endblock %}
{% block body -%}
    <nav>
        <a href="../index.html">&lt;- 돌아가기</a>
    </nav>
    <div class="search_container">
        <input type="text" class="search" id="search"/>
    </div>
    <div class="pagination" id="pagination"></div>
    <div id="thread_list"></div>
{%- endblock %}
