<li class="response" id="{{ response_id }}">
    <div class="response_header"><{{ sequence }}> {{ username }} ({{ user_id }}) {{ created_at }}</div>
    <div class="response_body">
        {{ youtube }}
        {{ image }}
        {{ content }}
    </div>
</li>