<li class="response" id="{{ response_id }}">
    <div class="response_header">
        <p><b>{{ sequence }}</b> {{ username }} ({{ user_id }})</p>
        <p>{{ created_at }}</p>
    </div>
    <div class="response_body">
        {{ youtube }}
        {{ image }}
        {{ content }}
    </div>
</li>