<article>
    <div class="thread_header">
        <div class="thread_title">{{ board_id }}>{{ id }}> {{ title }} ({{ size }})</div>
        <div class="thread_username">{{ username }}</div>
        <div class="thread_date">{{ created_at }} - {{ updated_at }}</div>
    </div>
    <div class="thread_body">
       <ul class="response_list">
           {{ responses }}
       </ul>
    </div>
</article>